.horizontal-test {
  height: 100px;
}

.vertical-test {
  height: 300px;
}

.dummy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}
